{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
</head>
<body>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'account/images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'account:register' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form mr-2">
                        <h2 class="form-title">Password Reset</h2>
                        <form method="POST" class="register-form">
                            {% csrf_token %}
                                
                            {{form | crispy}}
                            
                            <div class="form-group form-button">
                                <input type="submit"  id="signin" class="form-submit" value="Reset Password"/>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </section>

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="{% static 'account/js/main.js' %}"></script>
</body>
</html>