{% extends 'account/base.html' %}
{% block main %}

<div class="row">
  <div class="col-xl-10">			
              <div class="card card-default">
                <div class="card-header justify-content-between mb-4">
                  <h2>Listings</h2>
                </div>
                <div class="card-body py-0">
                  {% if object_list %}
                  {% for product in object_list %}
                  <div class="media d-flex mb-5">
                    <div class="media-image align-self-center mr-3 rounded">
                      <a href="#"><img src="{{product.image.url}}" width="100px" height="100px" alt="{{product.title}}"></a>
                    </div>
                    <div class="media-body align-self-center">
                      
                      <a href="{% url 'account:product-update' product.pk %}"><h6 class="mb-3 text-dark font-weight-medium">{{product.title}}</h6>
                      
                        <a href="{% url 'account:product-delete' product.pk %}" class="mb-3 text-dark font-weight-medium float-right btn btn-danger">Delete</h6>
                      
                      </a>
                      <p class="d-none d-md-block">{{product.description | truncatewords:20 }}</p>
                      <p class="mb-0">
                        <span class="text-dark ml-3">${{product.price}}</span>
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  There is no product
                  {% endif %}
                  
                  </div>
            </div>
  </div>
</div>

{% endblock %}